body
    background-color: #ece1bf


.modalfix
    padding-top: 80px
    padding-bottom: 80px

.modalfix2
    padding-top: 80px
    
.nbstyle
    background-color: transparent
    color: transparent
    &:hover
        background-color: brown
        border-bottom: 2px solid white
        color: white
        .links
            color: white !important

.links
    margin-left: 15px
    color: transparent 
    text-decoration: none
    font-family: 'Pacifico', cursive
    a:visited 
        color: white

.logohomemain
    display: block
    margin: auto
.jumbotron
    background-color: transparent
    padding-top: 9%
    padding-bottom: 0    


@media (min-width:576px)
    html 
        font-size: 22px
    h2
        font-size: 22px


@media (min-width:768px)
    html
        font-size: 24px
    h2
        font-size: 24px
  

h2 
    font-size: 30px

.maintext
    display: block
    text-align: center
    color: black
    text-shadow: -2px 2px 5px brown
    font-family: 'Pacifico', cursive
    font-weight: boldest
    h3
        font-size: 35px


.discord-btn
    background-color: #313338
    border-color: white
    &:hover
        background-color: #7289da
        border-color: white     

.movienight
    background-color: brown
    border-width: 2px
    color: white 
    margin: 5% 
    margin-left: 15%
    margin-right: 15%
    padding: auto 
    display: block

div.row
    margin: auto

.backgroundy
    background: url("https://i.imgur.com/XTUZA33.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
