body
    background: url("https://cdn-images-1.medium.com/max/1600/0*k0ZNdPy2ihWKSiOI.")
    padding: 0
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover


.modalfix
    padding-top: 70px

.nbstyle
    background-color: transparent
    color: transparent
    &:hover
        background-color: brown
        color: white
        .links
            color: white !important

.links
    margin-left: 15px
    color: transparent 
    text-decoration: none
    font-family: 'Love Ya Like A Sister', cursive
    a:visited 
        color: white

.logohomemain
    display: block
    margin: auto
.jumbotron
    background-color: transparent
    padding-top: 9%    


@media (min-width:576px)
    html 
        font-size: 22px
    h2
        font-size: 22px


@media (min-width:768px)
    html
        font-size: 24px
    h2
        font-size: 24px
  

h2 
    font-size: 30px
