.home-background {
    background: url("https://i.pinimg.com/originals/ee/ff/fb/eefffbe591a0d424e6580c35ac480c1d.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}