/* Homepage Styles */

.brown {
    margin: 50px;
}

.logohome {
    display: block;
    margin: auto;
}

.titlefont {
    font-size: 3.1vw;
    font-family: 'Freckle Face', cursive;
}

.blogpost {
    background-color: brown;
    border-style: solid;
    border-width: 8px;
    box-shadow: -5px 10px;
    color: black;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

a:hover {
    text-decoration: none;
}

.custom-overlay {
    color: brown;
    width: 30%;
}

.custom-modal {
    font-family: 'Freckle Face', cursive;
}

.ctn-btn {
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-btn {
    background-color: brown;
    padding: 25px;
    margin: 25px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    box-shadow: -5px 10px;
    color: black;
    border-color: white;
    font-size: 0.8vw;
}


/* New Page Style */

.cont {
    background-color: brown;
    padding: 2%;
    opacity: 100%;
    border: solid white 7px;
    box-shadow: -5px 10px;
    border-radius: 7px;
    margin: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.inputstyle {
    border-radius: 12px;
}

.newpostfont {
    font-size: 2.1vw;
    font-family: 'Freckle Face', cursive;
}

.input-lg {
    height: 250px;
    border-radius: 12px;
}

.leftbtn {
    display: block;
    position: absolute;
    right: 16px;
}

.rightbtn {
    display: block;
    position: absolute;
    left: 16px;
}

.text-help {
    font-weight: bolder;
    color: red;
    text-shadow: -1px 2px black;
}

.contnewpage {
    margin: 5px;
    margin-left: 2.5%;
}

.row {
    width: 95%;
}