body {
  background-color: #ece1bf; }

.modalfix {
  padding-top: 80px;
  padding-bottom: 80px; }

.modalfix2 {
  padding-top: 80px; }

.nbstyle {
  background-color: transparent;
  color: transparent; }
  .nbstyle:hover {
    background-color: brown;
    border-bottom: 2px solid white;
    color: white; }
    .nbstyle:hover .links {
      color: white !important; }

.links {
  margin-left: 15px;
  color: transparent;
  text-decoration: none;
  font-family: "Pacifico", cursive; }
  .links a:visited {
    color: white; }

.logohomemain {
  display: block;
  margin: auto; }

.jumbotron {
  background-color: transparent;
  padding-top: 9%;
  padding-bottom: 0; }

@media (min-width: 576px) {
  html {
    font-size: 22px; }

  h2 {
    font-size: 22px; } }
@media (min-width: 768px) {
  html {
    font-size: 24px; }

  h2 {
    font-size: 24px; } }
h2 {
  font-size: 30px; }

.maintext {
  display: block;
  text-align: center;
  color: black;
  text-shadow: -2px 2px 5px brown;
  font-family: "Pacifico", cursive;
  font-weight: boldest; }
  .maintext h3 {
    font-size: 35px; }

.discord-btn {
  background-color: #313338;
  border-color: white; }
  .discord-btn:hover {
    background-color: #7289da;
    border-color: white; }

.movienight {
  background-color: brown;
  border-width: 2px;
  color: white;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: auto;
  display: block; }

div.row {
  margin: auto; }

.backgroundy {
  background: url("https://i.pinimg.com/originals/ee/ff/fb/eefffbe591a0d424e6580c35ac480c1d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.brown {
  margin: 50px; }

.logohome {
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%; }

.titlefont {
  font-family: "Pacifico", cursive; }

.blogpost {
  background-color: brown;
  border-width: 2px;
  color: white;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: auto; }

.ctn-btn {
  display: block;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif; }

.edit-btn {
  background-color: brown;
  padding: 25px;
  margin: 25px;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  color: white; }

.listp .edit-btn {
  background-color: brown;
  padding: 25px;
  margin: 25px;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  color: white;
  margin-top: 80px; }

.custom-overlay {
  color: brown;
  width: 30%; }
  @media (max-width: 576px) {
    .custom-overlay {
      width: 60%; } }

.custom-modal {
  font-family: "Pacifico", cursive;
  margin-top: 17%; }

a:hover {
  text-decoration: none; }

.donate-btn {
  background: transparent;
  border: none !important;
  margin: 50px; }
  .donate-btn img {
    border-radius: 7px; }

.only4logging {
  margin-right: 10px; }

.cont {
  background-color: brown;
  padding: 2%;
  opacity: 100%;
  border: solid white 2px;
  border-radius: 7px;
  margin: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 18%; }
  @media (min-width: 576px) {
    .cont {
      margin-top: 7%; } }

.inputstyle {
  border-radius: 12px; }

.newpostfont {
  font-family: "Pacifico", cursive; }

.input-lg {
  height: 250px;
  border-radius: 12px; }

.leftbtn {
  display: block;
  position: absolute;
  right: 16px; }

.rightbtn {
  display: block;
  position: absolute;
  left: 16px;
  border-width: 3px; }

.text-help {
  font-family: "Roboto", sans-serif;
  color: #ef2b2b;
  font-size: 14px; }

.contnewpage {
  margin: 5px;
  margin-left: 2.5%; }

.row {
  width: 95%; }

.font-para {
  font-family: "Quicksand", cursive; }

.formsurvey {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .formsurvey input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; }
  .formsurvey button {
    color: white;
    text-decoration: none; }

.page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.reviews label {
  color: white;
  font-size: 12px; }

.formvalues {
  font-weight: bolder;
  color: black;
  font-size: 16px; }

.margin {
  margin: 5px; }
  .margin button {
    width: 150px; }

.card-img-top:hover {
  background-color: white; }

.card {
  width: 12rem;
  margin: 5%;
  margin-top: 20px;
  border: 3px solid black;
  background-size: cover;
  background-blend-mode: color-burn;
  transition: background-color 0.5s; }
  .card:hover {
    opacity: 0.8;
    background-color: black; }
    .card:hover h4 {
      color: green; }

.backgroundcard {
  font-family: "Cinzel", serif;
  background: black;
  color: white; }
  .backgroundcard h5 {
    font-size: 18px;
    text-align: center; }

.bg-characters {
  background: url("http://chairmanmigo.com/wp-content/uploads/2014/06/Wheres-Waldo-medieval.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 9%; }

.status-live {
  margin-bottom: 4px;
  color: white;
  font-size: 16px;
  font-family: "Cinzel", serif;
  text-align: center; }

.centered {
  margin: auto;
  margin-top: 5%;
  font-family: "Cinzel", serif;
  font-size: 40px;
  text-align: center; }

.topplayer {
  margin-top: 15%; }

.charcont {
  font-family: "Cinzel", serif;
  background-color: white;
  padding: 2%;
  opacity: 100%;
  border: solid black 2px;
  border-radius: 7px;
  margin: 5%;
  text-align: center; }
  @media (min-width: 576px) {
    .charcont {
      margin-top: 5%; } }
  .charcont .normalfont {
    font-size: 15px; }
  .charcont .basicfont {
    font-size: 12px; }

.outsidefont {
  font-family: "Cinzel", serif;
  font-size: 18px;
  text-align: center; }

/*# sourceMappingURL=index.css.map */
