.brown
    margin: 50px 

.logohome 
    display: block
    margin: auto 
    margin-top: 5%
    margin-bottom: 2% 

.titlefont
    font-family: 'Love Ya Like A Sister', cursive 

.blogpost 
    background-color: #930604 
    border-width: 2px
    color: white 
    margin: 5% 
    margin-left: 15% 
    margin-right: 15% 
    padding: auto 
   

.ctn-btn 
    display: block 
    margin: auto 
    font-family: Arial,Helvetica,sans-serif 

.edit-btn 
    background-color: brown 
    padding: 25px 
    margin: 25px 
    border-radius: 50% 
    border-width: 2px 
    border-color: white 
    color: white
    
    
.listp
    .edit-btn 
        background-color: brown 
        padding: 25px 
        margin: 25px 
        border-radius: 50% 
        border-width: 2px 
        border-color: white 
        color: white
        margin-top: 80px

.custom-overlay 
    color: brown 
    width: 30% 
    @media (max-width:576px)
        width: 60%
.custom-modal 
    font-family: 'Love Ya Like A Sister', cursive 
    margin-top: 17%
    

a:hover
    text-decoration: none