.brown
    margin: 50px

.logohome
    display: block
    margin: auto
    margin-top: 5%
    margin-bottom: 2%


.titlefont 
    font-size: 3.1vw
    font-family: 'Love Ya Like A Sister', cursive

.blogpost 
    background-color: #930604
    border-width: 2px
    color: white
    margin: 5%
    margin-left: 15%
    margin-right: 15%
    padding: auto



.custom-modal 
    font-family: 'Love Ya Like A Sister', cursive


.ctn-btn 
    display: block
    margin: auto
    font-family: Arial, Helvetica, sans-serif


.edit-btn 
    background-color: brown
    padding: 25px
    margin: 25px
    margin-top: 70px
    border-radius: 50%
    border-width: 2px
    border-color: white
    color: white
    font-size: 0.8vw


.custom-overlay
    color: brown
    width: 30%
    margin-top: 4%


.custom-modal
    font-family: 'Love Ya Like A Sister', cursive
a:hover
    text-decoration: none

