.cont 
    background-color: brown
    padding: 2%
    opacity: 100%
    border: solid white 2px
    border-radius: 7px
    margin: 3%
    margin-left: 15%
    margin-right: 15%
    margin-top: 6%
    


.inputstyle 
    border-radius: 12px

.newpostfont 
    font-size: 2.1vw
    font-family: 'Love Ya Like A Sister', cursive

.input-lg
    height: 250px
    border-radius: 12px

.leftbtn 
    display: block
    position: absolute
    right: 16px

.rightbtn 
    display: block
    position: absolute
    left: 16px
    border-width: 3px

.text-help 
    font-weight: bolder
    color: red
    text-shadow: -1px 2px black


.contnewpage
    margin: 5px
    margin-left: 2.5%


.row
    width: 95%

.font-para
    font-family: 'Quicksand', cursive
    font-size: 2rem
